FormsMeteo/Connected Services/MeteoService/MeteoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MeteoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56872/MeteoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56872/MeteoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56872/MeteoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MeteoIService_MiMetodo_InputMessage">
    <wsdl:part name="parameters" element="tns:MiMetodo" />
  </wsdl:message>
  <wsdl:message name="MeteoIService_MiMetodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:MiMetodoResponse" />
  </wsdl:message>
  <wsdl:message name="MeteoIService_NuevoRegistro_InputMessage">
    <wsdl:part name="parameters" element="tns:NuevoRegistro" />
  </wsdl:message>
  <wsdl:message name="MeteoIService_NuevoRegistro_OutputMessage">
    <wsdl:part name="parameters" element="tns:NuevoRegistroResponse" />
  </wsdl:message>
  <wsdl:message name="MeteoIService_EditarRegistro_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarRegistro" />
  </wsdl:message>
  <wsdl:message name="MeteoIService_EditarRegistro_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarRegistroResponse" />
  </wsdl:message>
  <wsdl:message name="MeteoIService_EliminarRegistro_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRegistro" />
  </wsdl:message>
  <wsdl:message name="MeteoIService_EliminarRegistro_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRegistroResponse" />
  </wsdl:message>
  <wsdl:message name="MeteoIService_BuscarRegistro_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRegistro" />
  </wsdl:message>
  <wsdl:message name="MeteoIService_BuscarRegistro_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRegistroResponse" />
  </wsdl:message>
  <wsdl:message name="MeteoIService_mostrarRegistros_InputMessage">
    <wsdl:part name="parameters" element="tns:mostrarRegistros" />
  </wsdl:message>
  <wsdl:message name="MeteoIService_mostrarRegistros_OutputMessage">
    <wsdl:part name="parameters" element="tns:mostrarRegistrosResponse" />
  </wsdl:message>
  <wsdl:portType name="MeteoIService">
    <wsdl:operation name="MiMetodo">
      <wsdl:input wsaw:Action="http://tempuri.org/MeteoIService/MiMetodo" message="tns:MeteoIService_MiMetodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeteoIService/MiMetodoResponse" message="tns:MeteoIService_MiMetodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NuevoRegistro">
      <wsdl:input wsaw:Action="http://tempuri.org/MeteoIService/NuevoRegistro" message="tns:MeteoIService_NuevoRegistro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeteoIService/NuevoRegistroResponse" message="tns:MeteoIService_NuevoRegistro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarRegistro">
      <wsdl:input wsaw:Action="http://tempuri.org/MeteoIService/EditarRegistro" message="tns:MeteoIService_EditarRegistro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeteoIService/EditarRegistroResponse" message="tns:MeteoIService_EditarRegistro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarRegistro">
      <wsdl:input wsaw:Action="http://tempuri.org/MeteoIService/EliminarRegistro" message="tns:MeteoIService_EliminarRegistro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeteoIService/EliminarRegistroResponse" message="tns:MeteoIService_EliminarRegistro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarRegistro">
      <wsdl:input wsaw:Action="http://tempuri.org/MeteoIService/BuscarRegistro" message="tns:MeteoIService_BuscarRegistro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeteoIService/BuscarRegistroResponse" message="tns:MeteoIService_BuscarRegistro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mostrarRegistros">
      <wsdl:input wsaw:Action="http://tempuri.org/MeteoIService/mostrarRegistros" message="tns:MeteoIService_mostrarRegistros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MeteoIService/mostrarRegistrosResponse" message="tns:MeteoIService_mostrarRegistros_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_MeteoIService" type="tns:MeteoIService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MiMetodo">
      <soap:operation soapAction="http://tempuri.org/MeteoIService/MiMetodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NuevoRegistro">
      <soap:operation soapAction="http://tempuri.org/MeteoIService/NuevoRegistro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarRegistro">
      <soap:operation soapAction="http://tempuri.org/MeteoIService/EditarRegistro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarRegistro">
      <soap:operation soapAction="http://tempuri.org/MeteoIService/EliminarRegistro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarRegistro">
      <soap:operation soapAction="http://tempuri.org/MeteoIService/BuscarRegistro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarRegistros">
      <soap:operation soapAction="http://tempuri.org/MeteoIService/mostrarRegistros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MeteoService">
    <wsdl:port name="BasicHttpBinding_MeteoIService" binding="tns:BasicHttpBinding_MeteoIService">
      <soap:address location="http://localhost:56872/MeteoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>